@model AspNetCore21WebApp.Models.Menu

@{
    ViewData["Title"] = "Menu Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurant.RestaurantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MenuId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-info">Return to Menus</a>
</div>
